// Variable Overrides
$theme-colors: (
        "primary": #383838
);
$body-bg: #eef2f5;
$font-family-sans-serif: 'proxima_nova_rgregular';
// Bootstrap Sass Imports
@import 'font-techmarket.css';
@import "node_modules/bootstrap/scss/bootstrap";
@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

body {
  position: relative;

  #notification {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 10px;
    width: 350px;

    .alert {
      margin-bottom: 0;
    }
  }
}

header {
  .navbar {
    background: $white;

    .navbar-brand {
      img {
        height: 40px;
      }
    }

    .nav-item {
      .nav-link {
        text-transform: capitalize;
      }

      &.dropdown {

        ul {
          display: none;
          position: absolute;
          z-index: 1000;
          min-width: 10rem;
          padding: 0;
          font-size: 1rem;
          color: #212529;
          text-align: left;
          list-style: none;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-radius: 0.25rem;

          li {
            &:hover {
              background-color: #f8f9fa;
            }
          }
        }

        &:hover {
          ul {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #menu-main.navbar-nav .nav-link {
    border-bottom: 1px solid #e9ecef;
    position: relative;

    &:after {
      content: '\f054';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      right: 0;
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-user {
  .user_avatar {
    display: inline-block;

    img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border: 2px solid #F7F7F7;

    }
  }

  .user-minffo {
    @media (min-width: 992px) {
      display: none;
    }
  }

  .dropdown-menu {
    &.user-panel {
      .dropdown-item {
        padding: 0.5rem 1rem;

        i {
          margin-right: 10px;
        }
      }
    }

    .user-box {
      width: 380px;
      padding: 10px;
      border-bottom: 1px solid #e9ecef;
      @media (max-width: 992px) {
        display: none;
      }

      .avatar {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #F7F7F7;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-info {
        color: #909090;

        strong {
          color: #383838;
        }
      }
    }
  }
}

.item-counter {
  position: relative;

  .item-number {
    position: absolute;
    left: 30px;
    top: 5px;
    min-width: 15px;
    display: block;
    height: 15px;
    border-radius: 100%;
    background: #f2de66;
    //color: #fff;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
  }
}


.homepage-banner {
  background: #383838;

  .banner-content {
    height: 350px;

    h2 {
      font-family: 'proxima_nova_ltsemibold';
      font-size: 50px;
    }
  }
}

.searchbox_home {
  padding: 30px 0;

  .browse-by {
    text-align: center;
    border: none;
    margin-bottom: 5%;

    a.nav-item {
      padding: 3px 10px;
      background: #DDE4E8;
      color: #7C8D98;
      margin-left: 5px;
      border-radius: 3px;
      font-size: 14px;
      text-decoration: none;
      text-transform: capitalize;

      &.active,
      &:hover {
        background: #D8E0E4;
      }
    }
  }

  .tab-content {
    padding: 15px 0;
  }
}

.mgkwooas-ajaxsearchform-container {
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0 2px 0 #D9E1E7;
  border-radius: 8px;

  &:before {
    content: '\f002';
    font-family: "FontAwesome";
    position: absolute;
    font-size: 150%;
    color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  input.mgkwooas-searchstr {
    padding: 15px 15px 15px 45px !important;
    font-size: 18px;


  }
}

.new-products {
  padding: 40px 0;


}

.item-inner {
  box-shadow: 0 2px 0 #D9E1E7;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 30px;

  &:hover {
    figure {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

  figure {
    position: relative;
    max-height: 260px;
    margin-bottom: 0;

    .sale-label {
      position: absolute;
      top: 5px;
      left: -3px;
      padding: 3px 15px;
      color: #fff;
      background: red;
    }

    .wishlist {
      position: absolute;
      top: 10px;
      right: 10px;

      a {
        color: red;
      }
    }

    .item-catagories {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .item-info {
    padding: 30px;

    .item-title {
      font-size: 22px;
      line-height: 1.3;
      font-family: 'proxima_nova_ltsemibold';
      margin-bottom: 5px;
    }

    .item-content {
      font-size: 14px;
    }
  }
}